.main {
    background-image: linear-gradient(to right, var( --primary-color), var(--secondary-color));
    height: 505px;
    width: 100%;
}

.main .title {
   
    color: var(--white-color);
    margin: 0 auto;
    max-width: 80%;
    padding: 80px 0 40px 0px;
}

.main .title h1{
    width: 600px;
    font-weight: 600;
    font-size: 3rem;
    
}

.main .title p {
    font-size: 22px;
    width: 600px;
    margin: 22px 0px;
    color: var(--font-white-ligth-color)
} 

.main .heroArrowDown {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.main .heroArrowDown img{
    position: relative;
    animation: bounce 0.3s ease 0s infinite alternate;
}

@keyframes bounce {
    0%{
        top: 0px;

    }
    100%{
        top: 10px;
    }
}


@media screen and (max-width:1150px){

}
@media screen and (max-width:720px){
    
}
@media screen and (max-width:540px){
    .main .title{
        max-width: 95%;
    }

    .main .title h1{
        font-size: 2rem;
        text-align: center;
        width: auto;
    }

    .main .title p{
        width: auto;
        font-size:1rem;
        text-align: center;
    }
}
