.aboutUs{
    max-width: 70%;
    margin: 0 auto;
    position: relative;
}

.aboutUs h2{
    color: var( --primary-color);
    font-size: 3rem;
    margin-top: 68px;
    text-align: center;
    margin-bottom: 41px;
}

.aboutUs div {
    display: flex;
    justify-content: space-around;
}

.aboutUs .dashedCircle {
    position: absolute;
    right: -12rem;
    top: -11rem;
}

.aboutUs .dashedCircle img{
    animation: spinning 13s infinite linear;
}

.aboutUs .dashedLine{
    position:absolute;
    left: -25%;
    
   
}

.aboutUs .dashedLine img{
    width: 100vw;
}

@keyframes spinning {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.aboutUs div  img {
    
    max-width: 356px;
    background:linear-gradient(to right, var(--primary-color), var(--secondary-color)) border-box;
    border-radius: 50em;
    border: 12px solid transparent;
    
}

.aboutUs div .aboutUsDescription{
    max-width:400px ;

}

.aboutUs  .dots{
    height: fit-content;
    position: absolute;
    bottom: -5rem;
    left: -9rem;
}
.aboutUs div .aboutUsDescription h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 28px;
    color: var(--font-black-color)
    
}
.aboutUs div .aboutUsDescription p{
    color: var(--font-gray-color);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 28px;
}


@media screen and (max-width:1150px){
    .aboutUs div{
        flex-direction: column;
        align-items: center;
    margin: auto 10px;
    }
    .aboutUs .dashedCircle img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:720px){
    .aboutUs{
        max-width: 95vw;
    }

  

    .aboutUs .dashedCircle {
        display: none;
    }
    .aboutUs .dashedLine{
        display: none;
    }
}

@media screen and (max-width:540px){

    .aboutUs div img {
        z-index: 200;
    }
    .aboutUs{
        max-width: 95vw;
    }
    .aboutUs h2{
        font-size: 2.5rem;
    }
    .aboutUs  .dots{
        top: 60px;
        left:190px;
        z-index: 100;
    }
    
}