.contact {
    width: 80vw;
    margin: 0 auto;

}

.contact h2{
    color: #496FF9;
    font-size: 3rem;
    margin-top: 68px;
    text-align: center;
    margin-bottom: 41px;
}

.contact form .formWrap{
    display: flex;
}

.contact form {
    background-color:white;
    padding: 20px;
    box-shadow: 0px 4px 7px 2px rgba(161,161,161,0.21);
    
}

.contact form  .formWrap .formSectionOne {
    display: flex;
    flex: 1; 
    flex-direction: column;
    margin-right: 20px;
}

.contact form .formWrap .formSectionTwo{
    flex: 1;  
}

@media screen and (max-width:1150px){

}
@media screen and (max-width:720px){
    
}
@media screen and (max-width:540px){
    .contact{
        width: 95%;
        
    }
    .contact h2{
        font-size: 2.5rem;
    }
    .contact form  .formWrap .formSectionOne{
        margin-right: 0px;
    }
    .contact form .formWrap .formSectionTwo{
        margin-bottom: 40px;
    }
    .contact .formWrap{
        flex-direction: column-reverse;
    }
}
