.cookieBar{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border: 2px solid black;
    padding: 15px 30px;
}

.cookieBar h4{


}

.cookieBar article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookieBar article  p{

}

.cookieBar article div a{
    text-decoration: underline;
    margin-right: 20px;

    
    color: #576d96;
}

