.faq{
    width: 80vw;
    margin: 160px auto;
}

.faq h2{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: #496FF9;
    margin-bottom: 60px;
}

.faq .accordionSummary{
    font-size: 2.5rem;
    color: #4B4B4B;
    font-weight: 400;
}

.faq .accordionDescription{
    color: #7f7f7f;
    font-size: 2rem;
}