.footer{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer img{
    height: 56px;
    width: 155px;
}
.footer p {
    font-size: 1rem;
    color: #606060;
}
