.modal {
    width: 600px;
    background-color: white;
    position: absolute;
    left: 35%;
    top: 20%;
    border-radius: 4px;
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal h3{
    color: #515151;
    font-size: 2rem;
}

.modal img{
  
    margin: 39px;
}

